.navbar{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;

}
.navbar button{
    background-color:#e50914;
    color: white;
    border: none;
    font-size:1.1rem;
    padding: 0.6rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
}