.navbar{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1%;

}
.navbar button{
    background-color:#e50914;
    color: white;
    border: none;
    font-size:100%;
    padding: 0.6%;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
@media screen and (max-width:400px) {
    .navbar button{
        font-size: 85%;
    }
}