.App{
  min-height:100vh ;
  width: 100%;
  background: #f4f4f4;
}
.header{
  height:4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color:black;
  font-weight: bold;
  font-size:1.8rem;
  margin-bottom: 1rem;
}
